$hover: .96;

$background: #1E1E1E;
$background-light: #FAFAFA;

$primary: #FFDD00;
$secondary: #3F3F3F;

$primary-text: #000000;
$common-text: #FFFFFF;
$grey-text: #AFAFAF;
$red-text: #DD7F7F;
$green-text: #79BB88;

$primary-text-light: #FFFFFF;
$common-text-light: #000000;
$grey-text-light: #676F7E;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $common-text;
}

body {
  background-color: $background;
}
