@use './index' as *;

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px 80px;
  position: relative;
}

.settings-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100px;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.overtimes-wrapper {
  display: flex;
  gap: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: -100px;

  .time-worked {
    font-family: 'Chivo Mono', monospace;
    font-size: 4.2em;
    font-weight: 100;
  }
}

footer {
  min-height: 69px;
}

.daily-target-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mid-buttons-wrapper {
  display: flex;;
  align-items: center;
  gap: 24px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  font-size: 18px;
  padding: 10px 24px 10px 16px;
  border: none;
  border-radius: 100px;

  &:hover {
    cursor: pointer;
  }

  path {
    fill: black;
  }
}

.primary {
  color: $primary-text;
  background-color: $primary;
}

.secondary {
  font-weight: 200;
  color: $common-text;
  background-color: $secondary;

  path {
    fill: white;
  }
}

.tertiary-light {
  color: $common-text-light;
  background-color: $background-light;
}

.small {
  font-size: 14px;
  padding: 8px 14px;
  min-width: 82px;
}

.filler {
  visibility: hidden;
}

label {
  font-size: 14px;
  font-weight: 300;
  color: $grey-text;
}

.identity {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-family: 'Share Tech Mono', sans;
  font-size: 12px;
  font-weight: 100;
  color: $grey-text;
  text-align: center;
  line-height: 1.4;
  margin-top: 20px;

  a {
    font-family: inherit;
    text-decoration: none;
    color: #FAFAFA;
    opacity: .7;
    padding-bottom: 1px;
    border-radius: 2px;
    border-bottom: 0.25em solid #FFD000;

    &:hover {
      opacity: 1;

      span {
        opacity: 1;
      }
    }

    span {
      color: #FFD000;
      opacity: .7;
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}

@media (max-width: 480px) {
  #root {
    padding-block: 60px;
  }
  
  .settings-btn {
    top: 10px;
    right: 10px;
  }
}
