@use './index' as *;

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px;
}

.overtimes-wrapper {
  display: flex;
  gap: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: -100px;

  .time-worked {
    font-family: 'Chivo Mono', monospace;
    font-size: 4.2em;
    font-weight: 100;
  }
}

footer {
  min-height: 69px;
}

.daily-target-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mid-buttons-wrapper {
  display: flex;;
  align-items: center;
  gap: 24px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  font-size: 18px;
  padding: 10px 24px 10px 16px;
  border: none;
  border-radius: 100px;

  &:hover {
    cursor: pointer;
  }

  path {
    fill: black;
  }
}

.primary {
  color: $primary-text;
  background-color: $primary;
  
}

.secondary {
  font-weight: 200;
  color: $common-text;
  background-color: $secondary;

  path {
    fill: white;
  }
}

.small {
  font-size: 14px;
  padding: 8px 14px;
}

label {
  font-size: 14px;
  font-weight: 300;
  color: $grey-text;
}