@use '../../styles/index' as *;

.overtime-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .overtime {
    font-family: 'Chivo Mono', monospace;
    font-size: 1.6em;
    font-weight: 100;
    color: $common-text;
  }

  .positive {
    color: $green-text;
  }

  .negative {
    color: $red-text;
  }
}
